﻿@{
    ViewBag.Title = "Portal Admin";
}

<div class="container">
    <div id="login-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <br />
                            <h3 class="text-center text-primary">Portal Admin</h3>
                        </div>
                        <div class="panel-body">
                            @using (@Html.BeginForm("Login", "Login", FormMethod.Post))
                            {
                                <fieldset>
                                    @if (@ViewBag.ErrorMessage != null)
                                    {
                                        <div class="form-group" style="color:Red;">
                                            @ViewBag.ErrorMessage
                                        </div>
                                    }
                                    <div class="form-group">
                                        <input class="form-control" placeholder="UserName" name="username" type="text" value="" id="txtUserName" tabindex="1">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="" id="txtPassword" maxlength="15" tabindex="2">
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <input type="submit" value="Login" class="btn btn-block btn-info" />
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
