﻿@{
    ViewBag.Title = "Home Page";
}

<div style="border:solid #f1f1f1 1px;margin:50px auto;width:700px;height:400px;background-color:#f1f1f1;padding:15px;border-radius:10px;">
    <h3 style="color:maroon;">Attention Please !</h3>
    @if (@ViewBag.NewURL != null)
    {
        <h3>Please note that the above link will get deactivated in the next few days. Temporarily you will be directed to a new patient portal link. Please save and use the new link (URL) for future usage.</h3>
        <script type="text/javascript">
            window.setTimeout(function () {
                window.location.href = '@ViewBag.NewURL';
            }, 7000);
        </script>
    }
    else
    {
        <h3>Your current link has been expired. Please contact your practice manager to provide you new link.</h3>
    }
</div>